{% extends 'base.html.twig' %}

{% block title %}Edit Patient{% endblock %}

{% block body %}
    <h1>Edit Patient</h1>

    {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-outline-warning" onclick="goBack()">Retour</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
