@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import "customCss.css";
/* @import "~bootstrap/scss/bootstrap"; */

body {
    background-color: rgb(106, 5, 5);
    margin: 0;
    height: 100%;
    width: 100%;
}

h1{
    color : red;
}

