{% block body %}
<ul>
                	<li><a href="{{ path('app_patient_index') }}">Gérer Patients</a> </li>
                	<li><a href="{{ path('app_acceuil_index') }}">Gérer Accueils</a> </li>
            	</ul>

{% endblock %}