
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="content" style="height: 600px; max-height: 100%; min-width: 300px">
        <h3>Statistiques</h3>
        <canvas id="polarChart"></canvas>
    </div>


    <script>
        var counts = {{ counts|json_encode()|raw }};

        // Use the counts to populate your chart
        var data = {
            labels: ["Total Patients", "Patients Homme", "Patients Femme", "Total Docteurs", "Total Responsables", "Total Acceuils"],
            datasets: [{
                data: [counts.totalPatients, counts.malePatientCount, counts.femalePatientCount, counts.totalDoctors, counts.totalResponsables,  counts.totalAcceuils],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(50, 152, 0, 0.6)',
                ]
            }]
        };

        var ctx = document.getElementById('polarChart').getContext('2d');
        var polarChart = new Chart(ctx, {
            type: 'polarArea',
            data: data
        });
    </script>
