{% extends 'base.html.twig' %}

{% block title %}Edit Diagnostic{% endblock %}

{% block body %}
    <h1>Edit Diagnostic</h1>

    {{ include('diagnostic/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-warning" href="{{ path('app_list_patients_docteur', {'id':app.user.docteur.id }) }}">Retour</a>

    {{ include('diagnostic/_delete_form.html.twig') }}
{% endblock %}
